certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
greenlet==3.1.1
idna==3.10
inquirerpy==0.3.4
isodate==0.7.2
mpegdash==0.4.0
pfzy==0.3.4
prompt_toolkit==3.0.48
python-dateutil==2.9.0.post0
PyYAML==6.0.2
ratelimit==2.2.1
redis==5.1.1
requests==2.32.3
six==1.16.0
spotipy==2.24.0
SQLAlchemy==2.0.36
tidalapi==0.8.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
