pip==24.2
bump2version==1.0.1
wheel==0.41.2
watchdog==3.0.0
tox==4.11.3
coverage==7.3.1
Sphinx==7.2.6
twine==5.0.0
ruff==0.3.5

python-dotenv==1.0.1
plyer==2.1.0
PyYAML==6.0
spotipy==2.22.1
tidalapi==0.7.6
tqdm==4.66.5

sqlalchemy==2.0.32
